<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
	<display-name>kkomaweb</display-name>
  
	<servlet>
		<servlet-name>ProController</servlet-name>
		<servlet-class>com.danacom.control.pro.ProController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProController</servlet-name>
		<url-pattern>/ProController</url-pattern>
	</servlet-mapping>  
  
	<welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>