@CHARSET "UTF-8";

body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

ol, ul { list-style: none; margin:0px; padding:0px; }
img { border: 0; }
a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }

#content, #admin_content {
	width: 960px;
	margin: 0 auto;
}

#admin_content > #admin_aside {
	width: 150px;
	float: left;
	border-right: #8BBDFF solid 1px;
	margin: 0px;
	padding: 0px;
}
#admin_content > #admin_section {
	width: 800px;
	float: right;
}

/* top */
#top_header {
	width: 960px;
	margin: 0 auto;
	height: 155px;
	position: relative;
}
#top_header > #top_title {
	position: absolute;
	left: 353px; top: 10px;
}
#top_header > #top_gnb {
	position: absolute;
	right: 0; top: 0;
}
#top_header > #top_lnb {
	position: absolute;
	left: 0; bottom: 65px;
}

#top_header > #top_rnb {
	position: absolute;
	right: 0; bottom: 65px;
}
#top_header > #top_ltb {
	position: absolute;
	left: 5px; top: 5px;
}

#top_gnb > ul { overflow: hidden; margin: 1px 0; }
#top_gnb > ul > li { float: left; }

#top_lnb > ul { overflow: hidden; }
#top_lnb > ul > li { float: left; }
#top_lnb > ul > li > a {
	display: block;
	padding: 7px 12px 5px 12px;
	border: 1px solid #3163C9;
	margin-left: 1px;
	color: #3163C9;
}
#top_lnb > ul > li > a:hover {
	background: #8BBDFF;
	color: white;
}
#top_lnb > ul > li:first-child > a { border-radius : 10px 0 0 10px; }
#top_lnb > ul > li:last-child > a { border-radius : 0 10px 10px 0; }

#top_rnb > ul { overflow: hidden; }
#top_rnb > ul > li { float: left; }
#top_rnb > ul > li > a {
	display: block;
	padding: 7px 12px 5px 12px;
	border: 1px solid #3163C9;
	margin-left: 1px;
	color: #3163C9;
}
#top_rnb > ul > li > a:hover {
	background: #8BBDFF;
	color: white;
}

#top_ltb > ul { overflow: hidden; }
#top_ltb > ul > li { float: left; }
#top_ltb > ul > li > a {
	display: block;
	padding: 7px 12px 5px 12px;
	border: 1px solid #3163C9;
	margin-left: 1px;
	color: #3163C9;
}
#top_ltb > ul > li > a:hover {
	background: #8BBDFF;
	color: white;
}

#pro_order_lnb { margin-top: 10px; margin-left: 5px; }
#pro_order_lnb > ul { overflow: hidden; }
#pro_order_lnb > ul > li { float: left; }
#pro_order_lnb > ul > li > a {
	display: block;
	padding: 7px 12px 5px 12px;
	border: 1px solid #3163C9;
	border-right: 0;
	margin-left: 0px;
	color: #3163C9;
}
#pro_order_lnb > ul > li:last-child > a { border-right: 1px solid #3163C9; }
#pro_order_lnb > ul > li > a:hover {
	background: #8BBDFF;
	color: white;
}
#pro_order_lnb > ul > li > span {
	display: block;
	width: 600px;
	padding: 8px 12px 5px 12px;
	border-bottom: 1px solid #3163C9;
	border-left: 1px solid #3163C9;
}

#admin_top_title {
	display: block;
	padding: 7px 0 5px 0;
	font-size: 15px;
	margin: 2px 3px 5px 3px;
	color: #3163C9;
	font-weight: bold;
	border-bottom: 1px dotted #3163C9;
	border-top: 1px dotted #3163C9;  
}

#admin_menu_lnb { margin: 5px 3px 5px 10px;}
#admin_menu_lnb > ul { overflow: hidden; }
#admin_menu_lnb > ul > li > a {
	display: block;
	padding: 6px 7px 4px 10px;
	border: 1px solid #3163C9;
	margin-bottom: 3px;
	color: #3163C9;
} 
#admin_menu_lnb > ul > li > a:hover {
	background: #8BBDFF;
	color: white;
}
	

/* old */
.title_div1{
	text-align: left; 
	height: 45px;
	margin-bottom: 10px;
	border-bottom: #EF82FF 1px solid; 
}

.box_input_left3{
	border: #7DBFFE 1px solid;
	padding: 3px;
	text-align: left;
}

.box_button2 {
	display: block;
	padding: 7px 12px 5px 12px;
	margin: 3px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: bold;
	background: #8BBDFF;
	color: white;
}

.box_button3 {
 	background-color: #339933;
	border: #006600 1px solid;
 	padding: 5px 6px 3px 6px;
 	text-align: center;
 	color: #ffffff;
 }
 
.main_title1{
	font-weight: bold;
	background-color: #FF9900;
	border: #336699 0px solid;
	padding: 5px 5px 4px 4px;
	text-align: center;
	color: #FFFFFF;
}

.main_title2{
	background-color: #ffdab9;
	border: #336699 0px solid;
	padding: 5px 5px 4px 4px;
	text-align: center;
	color: #000000;
}
